<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="10" android:versionName="1.0" android:compileSdkVersion="28" android:compileSdkVersionCodename="9" package="com.sgzh.dt" platformBuildVersionCode="28" platformBuildVersionName="9">
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <uses-permission android:name="android.permission.UNKNOWN"/>
    <application android:label="送给最好的TA" android:icon="@drawable/icon" android:name="com.androlua.LuaApplication" android:persistent="true" android:largeHeap="true" android:resizeableActivity="true" android:supportsPictureInPicture="true">
        <meta-data android:name="android.max_aspect" android:value="4"/>
        <activity android:theme="@style/app_theme" android:label="送给最好的TA" android:name="com.androlua.Main" android:launchMode="singleTask" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.EDIT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:host="*"/>
                <data android:pathPattern=""/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.EDIT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="content"/>
                <data android:host="*"/>
                <data android:pathPattern=""/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.EDIT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:mimeType="application/*"/>
                <data android:mimeType="audio/*"/>
                <data android:mimeType="video/*"/>
                <data android:mimeType="text/*"/>
                <data android:mimeType="*/*"/>
                <data android:host="*"/>
                <data android:pathPattern=""/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.EDIT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="content"/>
                <data android:host="*"/>
                <data android:mimeType="application/*"/>
                <data android:mimeType="audio/*"/>
                <data android:mimeType="video/*"/>
                <data android:mimeType="text/*"/>
                <data android:mimeType="*/*"/>
                <data android:pathPattern=""/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/app_theme" android:label="送给最好的TA" android:name="com.androlua.LuaActivity" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="androlua"/>
                <data android:host="com.sgzh.dt"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.EDIT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:host="*"/>
                <data android:pathPattern=""/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.EDIT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="content"/>
                <data android:host="*"/>
                <data android:pathPattern=""/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:mimeType="text/*"/>
                <data android:host="*"/>
                <data android:pathPattern=""/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="content"/>
                <data android:mimeType="text/*"/>
                <data android:host="*"/>
                <data android:pathPattern=""/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/app_theme" android:label="送给最好的TA" android:name="com.androlua.LuaActivityX" android:excludeFromRecents="false" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize" android:documentLaunchMode="intoExisting"/>
        <activity android:theme="@style/app_theme" android:label="送给最好的TA" android:name="com.androlua.Welcome" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.Translucent.NoTitleBar" android:name="com.nirenr.screencapture.ScreenCaptureActivity"/>
        <service android:name="com.androlua.LuaService" android:enabled="true"/>
        <service android:label="送给最好的TA" android:name="com.androlua.LuaAccessibilityService" android:permission="android.permission.UNKNOWN" android:enabled="true" android:exported="true">
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/accessibility_service_config"/>
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
                <category android:name="android.accessibilityservice.category.FEEDBACK_AUDIBLE"/>
                <category android:name="android.accessibilityservice.category.FEEDBACK_HAPTIC"/>
                <category android:name="android.accessibilityservice.category.FEEDBACK_SPOKEN"/>
            </intent-filter>
        </service>
        <provider android:name="android.content.FileProvider" android:exported="false" android:authorities="com.sgzh.dt" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/androlua_filepaths"/>
        </provider>
    </application>
</manifest>
